<a href="https://colab.research.google.com/github/Yanni-Dhevictor/Projetos-de-Data-Science/blob/master/%5BPROJETO%5DPANORAMA_DO_COVID_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Panorama do COVID-19 no mundo

O covid-19 ou Corona-vírus, como é comunmente chamado é um vírus respiratório silencioso e com alta capacidade de transmissão, por ser espalhada pelo ar, implicando em sintomas e complicações muito mais sérias que sua versão anterior causou.
A China teve seu primeiro caso no final do ano de 2019, quando 4 pessoas deram entrada no Hospital de Wuhan na china, com o tempo essa doença foi se espalhando tornando casos de dezenas para centenas,milhares escapando da China e se proliferando pelos continentes até que no dia 28 de setembro de 2020 a doença ultrapassou a marca de [1 milhao de mortos pelo Covid-19](https://g1.globo.com/bemestar/coronavirus/noticia/2020/09/28/mundo-ultrapassa-a-marca-de-1-milhao-de-mortos-por-covid-19-diz-universidade.ghtml) em todo o mundo.

<center><img alt="covid-19-banner" width="50%" src = "https://github.com/Yanni-Dhevictor/Projetos-de-Data-Science/blob/master/Covid-banner.jpg"><center/>

<center><img alt="Colaboratory logo" width="50%" src="https://raw.githubusercontent.com/carlosfab/dsnp2/master/img/covid19.jpg"></center>

In [ ]:
#IMPORTANDO AS BIBLIOTECAS NECESSÁRIAS

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [ ]:
#Importanto o arquivo csv.
DATA_PATH = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
df_world = pd.read_csv(DATA_PATH)

In [ ]:
df_world.shape

(51371, 41)

In [ ]:
df_world.describe()

        total_cases      new_cases  ...  life_expectancy  human_development_index
count  4.776400e+04   50491.000000  ...     50425.000000             44152.000000
mean   1.329494e+05    1603.144323  ...        73.983462                 0.723622
std    1.331521e+06   14439.062869  ...         7.386159                 0.153042
min    1.000000e+00   -8261.000000  ...        53.280000                 0.354000
25%    1.410000e+02       0.000000  ...        69.870000                 0.601000
50%    1.666500e+03      12.000000  ...        75.400000                 0.754000
75%    1.665325e+04     190.000000  ...        79.380000                 0.847000
max    4.047250e+07  400350.000000  ...        86.750000                 0.953000

[8 rows x 36 columns]